@charset"utf-8";
main{
    max-width: 800px;
    margin: auto;
    background-color: white;
    
}
main,footer,article,section{
    border: 1px solid gray;
    padding: 5px;
}body{
    background-color: #0e10ce;
}
header,footer{
    text-align: center;
}
